
.main{
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main i{
    font-size: 4rem;
    cursor: pointer;
    color:#999;
    
}

.main>div{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.main img{
    width: 100%;
    height: 100%;
}

.slideLeft{
    animation: slide_left .3s ease-in-out;
   
  
}
.slideRight{
    animation: slide_right .3s ease-in-out;
   
    
}
@keyframes slide_left{
    0%{
    transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slide_right{
    0%{
    transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}