
.router{
    position: relative;
}

.main{
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100000;
    animation: fadeIn .3s;
}

@keyframes fadeIn{
    0%{
      opacity: 0;
  
    }
    100%{
      opacity: 1;
    }
  }