
.main{
    position: relative;
    
}

.menu_open{
    background-color: var(--surface);
    width: 80%;
    margin: 0 auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100001;
}

.menu{
    background-color: var(--primary-light);
    padding: 0 10%;
}

.menu>ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu>ul li{
    padding:1.8rem;
    font-size: 2.4rem;
    color: var(--foreground);
    cursor: pointer;
    transition: all .3s;
  
}

.menu>ul li:first-child{
   background-color: #d32f2f;
   clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  
}

.menu>ul li:hover,.active{
    background-color: var(--surface);
   
}
.active a{
    color:var(--primary-light)
}

.container {
    background-color: var(--primary);
    padding: 0 10%;
    position: relative;

}

.container div:not(:last-child) {
   margin-right: 20px;
}

.logo {
   
    width: 10rem;
    
    
}



.flat_buttons {
   
    width:auto;
    
}

.flat_buttons>i{
    font-size: 1.8rem;
    color: white;
    margin: auto;
    cursor: pointer;
}

.search_bar {
    margin: auto 0;
    height: 4rem;  
    width: 100%;
    align-self: center;
}

.icon_buttons{
    width: auto;
}

.icon_buttons>button:first-child{
    display: none;
}

.icon_buttons button{
  
    width: 6rem;
}



@media (min-width: 1024px)
{
    .flat_buttons>i{
        display: none;
    }    
}

@media (min-width: 768px) and (max-width:1023px)
{
    .menu{
        display: none;
    }
    .container{
        padding: 0 2rem;
    }
    .flat_buttons button{
        display: none;
    }  
    
}

@media (max-width:767px)
{
    .menu{
        display: none;
    }
    .icon_buttons>button:first-child{
        display: inline-flex;
    }
    .container{
        padding: 0 2rem;
        place-content: space-between;
    }
    .search_bar,.flat_buttons button{
        display: none;
    }  
}