

.main{
  
    text-align: center;
}

.banner{
    background-repeat: no-repeat !important;
    background-position: top center !important;
    background-size: cover !important;
    padding: 5rem 2rem;
    margin-bottom: 5rem;
}


.big_banner
{
    background-image: url("https://content.asos-media.com/-/media/homepages/unisex/homepages/2020/04_april/mss-sale/desktop/carousel/mw-green-april-sale-desktop-1440x664.jpg");

    padding-top: 3rem;

}


.card_list{
    
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.card_list_4{
    
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 5rem auto;
}

.card_list_2{
    
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 5rem auto;
}



.card_list_4 div{
   
    padding:0 !important;
}

.card_list_4 h3,.card_list_2 h3{
   
   font-weight: bold;
   letter-spacing: .2rem;
}
.card_list_2 h3{
    font-size: 3rem;
}
.card_list_4 :not(:last-child){
    margin-right: 1rem;
}

.card_list img{
    width: 100%;
    height: auto;
}

.big_banner_button{
    width: 20%;
    margin-top: 3rem;
    align-self: center;
}

.big_banner_button p{
    color:var(--foreground);
    font-size: 1rem;
    margin-top: 2rem;
    padding: 1rem;
}


.img_banner{
    width: 100%;
    margin:5rem auto;
    position: relative;

}

.img_banner img{
    width: 100%;
    object-fit: cover;
}

.img_banner div{
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img_banner h1{
    font-size: 5rem;
    letter-spacing: 1rem;
    color:var(--primary);
    margin-bottom: 3rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.brands{
  
    width: 80%;
    margin: 5rem auto;
}

.brands_list{
    flex-flow: wrap;
}

.brands h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .3rem;
}


.brands_list a>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:opacity .7s;
}
.brands_list:hover a>img:not(:hover){

   opacity: .5;
}

@media only screen and (min-width:1024px)
{
    .brands_list a{
        width: calc(100% / 6 ) ;
    }
    .card_list_4>div{
        width: calc(100% / 4 - 1rem) ;
    }   
    .simple_card_text{
        height:100%;
    } 
}

@media only screen and (min-width:500px) and (max-width:1023px)
{
    .card_list_2 button{
    width: 80% !important;
    }
    .card_list_4>div{
        width: calc(100% / 2 - 1rem);
    }  
    .card_list_4 :not(:last-child){
        margin: 0;
    }
}

@media only screen and (max-width:499px)
{ 
    .card_list_2 {
   width: 100% !important;
   margin: 0 !important;
    }
    .card_list_2>div>div{
        padding: 0 !important;
    }
    .card_list_2>div>div h3{
        font-size: 2rem;
    }
     .card_list_2 button
     {
        width: 80% !important;
        margin-bottom: 1rem !important;
        font-size: 1.5rem;
    }
    .card_list_4>div{
        width: calc(100% );
        margin: 0 !important;
  
    } 
     
    .card_list_4{
        width: 100%;
    }
}

@media only screen and (min-width:768px)
{
    .card_list_2>div{
        width: 50%; 
    }
    .img_banner{
        max-width: 95rem;
    }
}


@media only screen and (max-width:767px)
{
    .img_banner{
        margin: 0;
        
    }
    .img_banner h1{
        font-size: 3rem;
        margin: 0;
    }
    .img_banner button{
       width: 100% !important;
       font-size: 1.4rem !important;
    }
}