
.main{
    padding: 1rem 5%;

}

.main a{
    font-size: 1.4rem;
    padding: 1rem .6rem;
    font-weight: 400;
    text-transform: capitalize;
}



.main ul{
    display: flex;
}

.main *{
    align-self: center;
}

.main i{
    padding: .4rem;
    margin-top: .3rem;
   
}

.main ul li:last-child{
    opacity: .7;
}