body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  
}

html,body,*{
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  
}

.disable-scroll{
  overflow-y: hidden;
}

:root{
  --primary:#212121;
  --primary-light:#484848;
  --primary-dark:#000000;
  --secondery:#15a66d;
  --surface:#eee;
  --foreground:#fff;

}

.center{

  position: absolute;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
}

.row{
  display: flex;
  flex-direction: row;
}

.col{
  display: flex;
  flex-direction: column;
}

.space-around{
  place-content: space-around;
}

.space-even{
  place-content: space-evenly;
}

.center-vertical {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

*{
  padding: 0;
  margin: 0;
}

.space{
  flex:1 1 auto;
}

.vl{
  border-right: 2px solid var(--primary-light);
}

.fade{
  animation: _fadeIn 2s;
 
}

@keyframes _fadeIn{
  0%{
    opacity: 0;

  }
  100%{
    opacity: 1;
  }
}


@keyframes _fadeOut{
  0%{
    opacity: 1;

  }
  100%{
    opacity: 0;
  }
}

a:visited,a:link{
  text-decoration: none;
  color: inherit;
}

.primary{
  color:var(--primary) !important;
}

button:disabled{
  cursor: auto !important;
}

i[class*="fas"].outline{
  -webkit-text-stroke: #2d2d2d 1.2px ;
  color: transparent !important;
}