.main {
    display: flex;
    flex-direction: row;
    height: fit-content;
   padding: 0 1rem;
}

.imageList{
    width: 100%;
    max-width: 5rem;
    min-width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.imageList ul {
    list-style: none;
    margin-top: 1rem;

}

.imageList ul li:not(:last-child) {
    margin-bottom: 2rem;
}

.imageList ul li:focus {
    border: 2px solid blue;

}

.imageList ul li img {
    height: 5.2rem;
    width:  4rem;
    cursor: pointer;
}

.iconButton {
    border: 2px solid transparent;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    color: #2d2d2d;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 4rem;
    
}

.iconButton>i{
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
    color: white;
}

.iconButton i{
    margin-bottom: 1rem;
   
}

.iconButton:focus {
    border: 2px solid blue;
}
.iconButton p{
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 900;
    font-size: 1rem;
}


.main video{
    width: calc(100% - 5rem);
    height: 100%;
object-fit: cover;
}

.icon_mobile{
    display: none;
}

@media (max-width:720px)
{
    .imageList{
        display: none;
    }

    .main{
        padding: 0;
        flex-direction: column;
    }
    .icon_mobile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 2rem 0;
        background-color: #eee;
        width: 100%;
        text-align: center;
    }

    .icon_mobile i{
        color: transparent;
       margin: 0 !important;
       margin-right: 1rem !important;
    }

    .main video{
        width: 100%;
    }

    
}