

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4rem;
    background-color: #fff;
    text-align: left;
    align-self: flex-start !important;
}

.main i:first-child{
    display: none;
}

.main *{
    color: #2d2d2d;
    align-self: flex-start !important;
}

.main i{
    font-size: 3rem;
}
.main i[class*="fas"]{
   
    -webkit-text-stroke-width: 2px;
}

.main h1{
    font-size: 3.5rem;
}

.main :not(:last-child){
    margin-bottom: 2rem;
}

#mobile{
    display: none;
}

#desktop{
    display: flex;
}

@media (max-width:768px){
    .main{
        flex-direction: row;
        
        padding: 1rem;
    }
    .main :not(:last-child){
        margin-right: 1rem;
        margin-bottom: 0;
    }

    .main h1{
        width: 100%;
        text-align: center;
       
    }
    .main i:first-child
    { 
        display: block;
    }

    #mobile{
        display: flex;
    }

    #mobile button{
        width: 100% !important;
        margin:  2rem !important;
        font-size: 1.4rem;
    }

    #mobile :not(button){
        display: none;
    }

    #mobile~div form div{
        width: 100% !important  ;
    }
   

    #desktop{
        display: none;
    }
}

@media (max-width:500px){
  
    .main :not(:last-child){
        margin-right: 1rem;
        margin-bottom: 0;
    }

    

    .main *{
        font-size: 1.8rem !important;
        
    }
  
}